body {
  padding-top: 61px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}

.navbar-form .form-group {
  margin-left: 10px;
}

.navbar-form button {
  margin-left: 10px;
}
