<!-- views/partials/header.ejs -->

<header class='navbar navbar-inverse navbar-fixed-top'>
  <nav class='container'>
    <div class='navbar-header'>
      <a href='/' class='navbar-brand'><h6>MEAN Application</h6></a>
    </div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li>
          <a href='/'>Home</a>
        </li>
      </ul>
      <div ng-include="'../partials/account/navbar-login'"></div>
    </div>
  </nav>
</header>
