<!-- views/partials/scripts.ejs -->


<script src="/app/app.js"></script>
<script src="/app/main/main-controller.js"></script>
<script src="/app/account/navbar-login-controller.js"></script>
<!-- load JQuery from CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
