<!DOCTYPE html>
<html lang="en" ng-app='app'>

<% include partials/head %>

<body>
  <% include partials/header %>


  <section class="content">
    <div ng-view></div>
  </section>

<% include partials/footer %>
<% include partials/scripts %>
</body>
</html>
