
  <div class='container'>
    <div class='jumbotron'>
      <h1>The MEAN Group</h1>
      <p>Welcome to the MEAN Group, the nicest tech developers around!</p>
    </div>


    <div class='row'>
      <div class='col-sm-6'>
        <div ng-include="'/partials/main/featured-courses'"></div>
      </div>
      <div class='col-sm-6'>
        <div ng-include="'/partials/main/new-courses'"></div>
      </div>
    </div>
  </div>
