<div class="panel panel-primary">
  <div class="panel-heading text-center">
    New Courses
  </div>
  <div class="panel-body">
    <div class="row" ng-repeat="course in courses | orderBy:'published':true | limitTo:10">
      <div class="col-sm-3">{{course.published | date:'MMM d'}}</div>
      <div class="col-sm-9">{{course.name}}</div>
    </div>
  </div>
</div>
