<div class="navbar-right" ng-controller="NavBarLoginController">
  <form class="navbar-form">
    <div class="form-group">
      <input placeholder="Email" ng-model="username" class="form-control" />
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" ng-model="password" class="form-control" />
    </div>
    <button ng-click="signin(username,password)" class="btn btn-primary">Sign In</button>
  </form>
</div>
